<!DOCTYPE html>
<html class="h-full bg-gray-100" lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
          name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <title th:text="${title}"></title>
    <!-- Css -->
    <link href="/css/style.css" rel="stylesheet">
</head>
<body class="h-full">
<!--
  This example requires updating your template:

  ```
  <html class="h-full bg-gray-100">
  <body class="h-full">
  ```
-->
<div class="min-h-full">
    <nav class="bg-gray-800">
        <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
            <div class="flex h-16 items-center justify-between">
                <div class="flex items-center">
                    <div class="flex-shrink-0">
                        <img alt="Your Company" class="h-8 w-8"
                             src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=500">
                    </div>
                    <div class="ml-10 flex space-x-4 w-full">
                        <a aria-current="page" class="bg-gray-900 text-white rounded-md px-3 py-2 text-sm font-medium"
                           href="/">首页</a>
                        <a class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium"
                           href="#">Team</a>
                    </div>
                </div>
                <div class="ml-4 flex items-center md:ml-6">
                    <div class="relative ml-3">
                        <span class="absolute -inset-1.5"></span>
                        <span class="sr-only">Open user menu</span>
                        <img alt=""
                             class="h-8 w-8 rounded-full"
                             src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80">
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <header class="bg-white shadow">
        <div class="mx-auto max-w-7xl px-4 py-6 sm:px-6 lg:px-8">
            <h1 class="text-3xl font-bold tracking-tight text-gray-900">系统看板</h1>
        </div>
    </header>
    <main>
        <div class="mx-auto max-w-7xl py-6 px-6 lg:px-8 grid grid-cols-5">
            <div class="grid-cols-1">
                <a class="block p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700"
                   href="#">
                    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Noteworthy
                        technology
                        acquisitions 2021</h5>
                    <p class="font-normal text-gray-700 dark:text-gray-400">Here are the biggest enterprise technology
                        acquisitions of 2021 so far, in reverse chronological order.</p>
                </a>
            </div>
        </div>
    </main>
</div>
</body>
<!-- JavaScript -->
<script src="/js/flowbite.js"></script>
</html>